@model IEnumerable<SSDInternalProject.ViewModels.RepairVM>

@{
    ViewBag.Title = "Evaluating";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Evaluating</h2>
<h3> Welcome @Html.Raw(ViewBag.userName)</h3>
<h4> Please select the following issues</h4>

<div>
    @using (Html.BeginForm("EvaluatingDetail", "Home", FormMethod.Post)) {
        <form id="evaluatingForm">
            <input type="hidden" name="userName" value=@Html.Raw(ViewBag.userName) />
            @foreach (var item in Model) {
                <input type="radio" 
                        name="SelectedRepairItems"
                        value=@Html.DisplayFor(modelItem => item.RepairVMId)>
                
                    @Html.DisplayFor(modelItem => item.Name)
            }
            <input for="submit" type="submit" id="submit" value="submit" />
        </form>     
    }
</div>
