
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post)) {
        <form>
            <label for="username"> User Name</label>
            <input type="text" name="username" />
            <label for="password"> Password</label>
            <input type="password" name="password" />

            <input for="submit" type="submit" id="submit" value="submit" />
        </form>
    }
</div>
    @{ 
        if (ViewBag.errorMessage != null) {
            Html.Raw(ViewBag.errorMessage);
        }
    }
<br />
<br />
<br />
<p> still haven't had an account? </p>
@Html.ActionLink("Register", "Register",
        new {
            controller = "Home",
        })
<br />
@Html.ActionLink("Staff Area", "Index", "Staff", new { userId = 2 }, null)
