
@{
    ViewBag.Title = "Staff Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Hello @ViewBag.StaffName</h2>

<ul>
    <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
    <li>@Html.ActionLink("Account Detail", "StaffDetail", "Staff")</li>
</ul>

